html
	height 100%
	padding 0
	margin 0

body
	// background radial-gradient( #ffffff 40%, #cdcdcd 90% )
	backgrond #ffff00
	width 100%
	height 100%
	margin 0
	padding 0
	// border solid 20px #000000
	#main
		position fixed
		width 100%
		height 100%